@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* =================================== ROOT ===================================*/
:root {
  --color-primary-hue: 252;

  --dark-color-lightness: 17%;
  --light-color-lightness: 95%;
  --white-color-lightness: 100%;

  --color-white: hsl(252, 30%, var(--white-color-lightness));
  --color-light: hsl(252, 30%, var(--light-color-lightness));
  --color-gray: hsl(var(--color-primary-hue), 15%, 65%);
  --color-primary: hsl(var(--color-primary-hue), 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(252, 30%, var(--dark-color-lightness));
  --color-black: hsl(252, 30%, 9%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  color: var(--color-dark);
  background: var(--color-light);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  transition: .3s ease;
}

/* =================================== GENERAL STYLE =================================== */

.container {
  width: 80%;
  margin: 0 auto;
}

.profile-picture {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

.btn {
  display: inline-block;
  padding: var(--btn-padding);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  font-weight: 500;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.text-bold {
  font-weight: 500;
}

.text-muted {
  color: var(--color-gray);
}

/* =================================== NAVBAR STYLE =================================== */

nav {
  width: 100%;
  background-color: var(--color-white);
  padding: 0.7rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: .3s ease;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  background: var(--color-light);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  padding: var(--search-padding);
  transition: .3s ease;
}

.search-bar input[type="search"] {
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-dark);
}

nav .search-bar input[type="search"]::placeholder {
  color: var(--color-gray);
}

nav .create {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* =================================== MAIN =================================== */

main {
  position: relative;
  top: 5.4rem;
}

main .container {
  display: grid;
  grid-template-columns: 18vw auto 20vw;
  column-gap: 2rem;
  position: relative;
}

/* =================================== LEFT SIDE =================================== */

main .container .left {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-left);
}

main .container .left .profile {
  padding: var(--card-padding);
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  -webkit-border-radius: var(--card-border-radius);
  -moz-border-radius: var(--card-border-radius);
  -ms-border-radius: var(--card-border-radius);
  -o-border-radius: var(--card-border-radius);
  display: flex;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
  transition: .3s ease;
}

/* =================================== SIDBAR =================================== */

.left .sidebar {
  margin-top: 1rem;
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  -webkit-border-radius: var(--card-border-radius);
  -moz-border-radius: var(--card-border-radius);
  -ms-border-radius: var(--card-border-radius);
  -o-border-radius: var(--card-border-radius);
  transition: .3s ease;
}

.left .sidebar .menu-item {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  position: relative;
}

.left .sidebar .menu-item:hover {
  background: #6b4ce654;
}

.left .sidebar i {
  font-size: 1.4rem;
  color: var(--color-gray);
  margin-left: 2rem;
  position: relative;
}

.left .sidebar a {
  color: var(--color-black);
}

.left .sidebar i .notifications-count {
  background: var(--color-danger);
  color: white;
  font-size: 0.7rem;
  width: fit-content;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  padding: 0.2rem 0.4rem;
  position: absolute;
  top: -0.2rem;
  right: -0.3rem;
}

.left .sidebar h3 {
  margin-left: 1.5rem;
  font-size: 1rem;
}

.left .sidebar .active {
  background: var(--color-light);
  transition: .3s ease;
}

.left .sidebar .active i,
.left .sidebar .active h3 {
  color: var(--color-primary);
}

.left .sidebar .active::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  background: var(--color-primary);
}

.left .sidebar .menu-item:first-child.active {
  border-top-left-radius: var(--card-border-radius);
  overflow: hidden;
}
.left .sidebar .menu-item:last-child.active {
  border-bottom-left-radius: var(--card-border-radius);
  overflow: hidden;
}

.left .btn {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

/* =================================== NOTIFICATION POPUP =================================== */

.left .notifications-popup {
  position: absolute;
  top: 0;
  left: 110%;
  width: 30rem;
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  -webkit-border-radius: var(--card-border-radius);
  -moz-border-radius: var(--card-border-radius);
  -ms-border-radius: var(--card-border-radius);
  -o-border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  box-shadow: 0 0 2rem hsl(var(--color-primary), 75% 60% 25%);
  z-index: 8;
  display: none;
}

.left .notifications-popup::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  background: var(--color-white);
  display: block;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: absolute;
  left: -0.6rem;
}

.left .notifications-popup > div {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.left .notifications-popup small {
  display: block;
}

/* =================================== MIDDLE =================================== */

.middle .storis {
  display: flex;
  justify-content: space-between;
  height: 12rem;
  gap: 0.5rem;
  border-bottom: 3px dashed var(--color-dark);
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.middle .storis .story {
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  -webkit-border-radius: var(--card-border-radius);
  -moz-border-radius: var(--card-border-radius);
  -ms-border-radius: var(--card-border-radius);
  -o-border-radius: var(--card-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 0.75rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .3s ease;
}

.middle .storis .story::before {
  content: "";
  display: block;
  width: 100%;
  height: 5rem;
  position: absolute;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
}

.middle .storis .story .name {
  z-index: 2;
}

.middle .storis .story:nth-child(1) {
  background-image: url("/public/images/story-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.middle .storis .story:nth-child(2) {
  background-image: url("/public/images/story-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.middle .storis .story:nth-child(3) {
  background-image: url("/public/images/story-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.middle .storis .story:nth-child(4) {
  background-image: url("/public/images/story-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.middle .storis .story:nth-child(5) {
  background-image: url("/public/images/story-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.middle .storis .story:nth-child(6) {
  background-image: url("/public/images/story-6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.middle .story .profile-picture {
  width: 2rem;
  height: 2rem;
  align-self: flex-start;
  border: 2px solid var(--color-primary);
}

/* =================================== CREATE POST =================================== */

.middle .create-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  background: var(--color-white);
  padding: 0.4rem var(--card-padding);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  transition: .3s ease;
}

.middle .create-post input[type="text"] {
  width: 100%;
  justify-self: flex-start;
  background: transparent;
  padding-left: 1rem;
  color: var(--color-dark);
  margin-right: 1rem;
}

/* =================================== FEEDS =================================== */

.middle .feeds .feed {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  -webkit-border-radius: var(--card-border-radius);
  -moz-border-radius: var(--card-border-radius);
  -ms-border-radius: var(--card-border-radius);
  -o-border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin: 1rem 0;
  font-size: 0.85rem;
  line-height: 1.5;
  transition: .3s ease;
}

.middle .feeds .feed .head {
  display: flex;
  justify-content: space-between;
}

.middle .feed .user {
  display: flex;
  gap: 1rem;
}

.middle .feed .photo {
  border-radius: var(--card-border-radius);
  -webkit-border-radius: var(--card-border-radius);
  -moz-border-radius: var(--card-border-radius);
  -ms-border-radius: var(--card-border-radius);
  -o-border-radius: var(--card-border-radius);
  overflow: hidden;
  margin: 0.7rem 0;
}

.middle .feed .action-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem;
}

.middle .liked-by {
  display: flex;
}

.interaction-buttons span,
.bookmark span {
  cursor: pointer;
}

i.bxs-heart {
  color: var(--color-danger);
}

.middle .liked-by span {
  width: 1.4rem;
  height: 1.4rem;
  border: 2px solid var(--color-white);
  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  margin-left: -0.6rem;
}

.middle .liked-by span:first-child {
  margin: 0;
}

.middle .liked-by p {
  margin-left: 0.3rem;
}

/* =================================== RIGHT SIDE =================================== */

main .container .right {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-right);
  bottom: 0;
}

.right .messages {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  -webkit-border-radius: var(--card-border-radius);
  -moz-border-radius: var(--card-border-radius);
  -ms-border-radius: var(--card-border-radius);
  -o-border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  transition: .3s ease;
}

.right .messages .requesr-massege {
  color: var(--color-primary);
}

.right .message .profile-picture {
  position: relative;
  overflow: visible;
}

.right .profile-picture img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.right .messages .heading {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.right .messages i {
  font-size: 1.4rem;
}

.right .messages .search-bar {
  display: flex;
  margin-bottom: 1rem;
}

.right .messages .categgory {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.right .messages .categgory h6 {
  width: 100%;
  text-align: center;
  border-bottom: 4px solid var(--color-light);
  padding-bottom: 0.5rem;
  font-size: 0.85rem;
  cursor: pointer;
}

.right .messages .categgory .active {
  border-color: var(--color-dark);
  transition: .3s ease;
}

.right .messages .message {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.right .messages .message:last-child {
  margin: 0;
}

.right .messages .message p {
  font-size: 0.8rem;
}

.right .messages .message .profile-picture .active {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 3px solid var(--color-white);
  background: var(--color-success);
  position: absolute;
  bottom: 0;
  right: 0;
}

/* =================================== FRIND REQUES =================================== */

.right .frind-requests {
  margin-top: 1rem;
}

.right .frind-requests h4 {
  color: var(--color-gray);
  margin: 1rem 0;
}

.right .request {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  -webkit-border-radius: var(--card-border-radius);
  -moz-border-radius: var(--card-border-radius);
  -ms-border-radius: var(--card-border-radius);
  -o-border-radius: var(--card-border-radius);
  margin-bottom: 0.7rem;
  transition: .3s ease;
}

.right .request .info {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.right .request .action {
  display: flex;
  gap: 1rem;
}

/* =================================== EXPLORE =================================== */

.explores {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.5rem;
}

.explore {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.explore img {
  width: 10rem;
  height: 10rem;
  border-radius: 2rem;
}

.postHover {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 100%;
  border-radius: 2rem;
  background-color: #3f3f3f50;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  display: none;
  transition: .5s ease;
}

.postHover i {
  font-size: 2rem;
  color: var(--color-light);
}

.explore:hover .postHover {
  display: inline-flex !important;
}

/* =================================== CAHGE THEME SECTION =================================== */

body.dark-mode,
body.dark-mode .search-bar {
  color: var(--color-white);
  background: var(--color-black);
  transition: .3s ease;
}

body.dark-mode nav,
body.dark-mode .feed,
body.dark-mode .profile,
body.dark-mode .sidebar,
body.dark-mode .create-post,
body.dark-mode .messages,
body.dark-mode .request {
  background: var(--color-dark) !important;
  transition: .3s ease;
}

body.dark-mode .sidebar .active {
  background: var(--color-black);
  color: var(--color-light);
}

body.dark-mode .search-bar input {
  color: var(--color-light);
}

body.dark-mode .story {
  border: 2px solid var(--color-primary);
  transition: .2s ease;
}

body.dark-mode .middle .create-post input,
body.dark-mode .left .sidebar a {
  color: var(--color-light);
}

body.dark-mode .messages .categgory .active {
  border-color: var(--color-black);
  transition: .3s ease;
}

/* dark mode button */

.btn-theme {
  transition: .3s ease;
  background: transparent;
}

.btn-theme:hover {
  transform: rotate(360deg);
}

.btn-theme i.bx-moon{
  font-size: 1.6rem;
  color: #bdbdbd;
  cursor: pointer;
  transition: .8s ease;
}

.btn-theme i.bx-sun {
  font-size: 1.6rem;
  color: #ffd000;
  cursor: pointer;
  transition: .8s ease;
}

/* =================================== RESPONSIVE =================================== */

@media screen and (max-width: 1200px) {
  .container {
    width: 96%;
  }

  main .container {
    grid-template-columns: 5rem auto 30vw;
    gap: 1rem;
  }

  .left {
    width: 5rem;
    z-index: 5;
  }

  main .container .left .profile {
    display: none;
  }

  .sidebar h3 {
    display: none;
  }

  .left .btn {
    display: none;
  }

  .customize-theme .card {
    width: 80vw;
  }
}

@media screen and (max-width: 992px) {
  nav .search-bar {
    display: none;
  }

  main .container {
    grid-template-columns: 0 auto 5rem;
    gap: 0;
  }

  main .container .left {
    grid-column: 3/4;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .left .notifications-popup {
    position: absolute;
    left: -20rem;
    width: 20rem;
  }

  .left .notifications-popup::before {
    position: absolute;
    top: 1.3rem;
    left: 19rem;
    display: block;
  }

  main .container .middle {
    grid-column: 1/3;
  }

  main .container .right {
    display: none;
  }

  .customize-theme .card {
    width: 92vw;
  }

  .middle .create-post {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  nav .container {
    width: 80%;
    gap: 1rem;
  }

  .explores {
    grid-template-columns: 150px 150px;
  }
}

@media screen and (max-width: 400px) {
  main .container {
    grid-template-columns: 0rem 20rem 0;
    gap: 0;
  }

  .left .notifications-popup::before{
      left: 16rem;
  }

  .left .notifications-popup{
      width: 17rem;
      left: -17rem;
  }

  nav .container .logo {
    font-size: 1.2rem;
  }

  nav .container .profile-picture {
    width: 2rem;
  }

  nav .container .btn-primary {
    width: 5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left .sidebar {
    margin-top: 1rem;
    height: 61vh;
  }

  .left .sidebar .menu-item {
    height: 3rem;
  }

  .left .sidebar {
    width: 4rem;
  }

  main .container .left {
    right: -16px;
  }

  .menu-item span i {
    position: relative;
    right: 15px;
  }

  .customize-theme .font-size ,
  .customize-theme .color,
  .customize-theme .background{
      margin-top: 1rem;
  }

  .customize-theme .choose-bg{
      flex-direction: column;
  }
}
